# ─────────────────────────────────────────────────────────────
#  Variáveis de ambiente — Sistema de Agendamentos
#  Substitua MYSQL_PASSWORD pela matrícula de um integrante
# ─────────────────────────────────────────────────────────────

MYSQL_USER=agendamento
MYSQL_PASSWORD=20241si000   # <- matrícula de um integrante
MYSQL_DATABASE=agendamentos_db
